footer{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: black;
    padding: 60px 0;
    position: relative;

    .footerMain{
        width: 1200px;
        display: flex;
        justify-content: space-between;
        align-items: start;
        
        .block1{
            display: flex;
            flex-direction: column;
            gap: 64px;

            &top{
                display: flex;
                flex-direction: column;
                align-items: start;
                gap: 12px;

                .text1{
                    font-family: OutfitMedium;
                    color: white;
                    font-size: 26px;
                    width: 350px;
                    line-height: 28px;
                    margin-top: 10px;
                    

                    span{
                        background: linear-gradient(75deg, #0098ff 0%, #7b35c8 100%);
                        -webkit-background-clip: text;
                        -webkit-text-fill-color: transparent;
                        font-family: OutfitSemiBold;
                    }
                }

                .text2{
                    font-size: 14px;
                    color: white;
                    font-family: OutfitRegular;
                    width: 370px;
                }
            }

            .text3{
                font-size: 14px;
                color: white;
                font-family: OutfitRegular;
            }
        }

        .block2, .block3{
            display: flex;
            flex-direction: column;
            gap: 16px;

            p{
                font-size: 15px;
                color: white;
                font-family: OutfitMedium;
                letter-spacing: 1px;
            }

            div{
                display: flex;
                flex-direction: column;
                gap: 10px;

                a{
                    color: white;
                    font-family: OutfitRegular;
                    font-size: 14px;
                    transition: .3s;

                    &:hover{
                        color: #838383;
                    }
                }
            }
        }

        .block4{
            display: flex;
            flex-direction: column;
            gap: 16px;

            p{
                font-size: 15px;
                color: white;
                font-family: OutfitMedium;
                letter-spacing: 1px;
            }

            .icons{
                display: flex;
                gap: 10px;

                a{
                    width: 28px;
                    height: 28px;
                    background-color: white;
                    color: black;
                    border-radius: 5px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    transition: .3s;

                    &:hover{
                        background: linear-gradient(75deg, #0098ff 0%, #7b35c8 100%);
                    }

                    &:hover i{
                        color: white;
                    }

                    i{
                        font-size: 18px;
                        transition: .3s;
                    }
                }
            }
        }
    }
}