@import '../components/header/header.css';
@import '../components/footer/footer.css';
@import '../components/root/root.css';
nav {
  background-color: black;
}
nav .dropdown, nav .dropdowns {
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.section1 {
  width: 100%;
  height: 40vh;
  background-color: black;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 120px;
}
.section1main {
  width: 1200px;
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.section1main a {
  display: flex;
  align-items: center;
  gap: 10px;
}
.section1main a div {
  width: 34px;
  height: 34px;
  border: 1px solid white;
  border-radius: 100%;
  transform: rotate(90deg);
  display: flex;
  align-items: center;
  justify-content: center;
}
.section1main a div i {
  color: white;
  font-size: 15px;
}
.section1main a p {
  color: white;
  font-family: OutfitMedium;
  font-size: 13px;
}
.section1main .text1 {
  background: linear-gradient(75deg, #0098ff 0%, #7b35c8 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  display: inline-block;
  font-size: 41px;
  font-family: OutfitSemiBold;
  width: 170px;
}
.section1main .text2 {
  font-size: 14px;
  color: white;
  font-family: OutfitRegular;
  width: 600px;
}

.section2 {
  width: 100%;
  margin: 60px 0 40px 0;
  display: flex;
  align-items: center;
  justify-content: center;
}
.section2main {
  width: 1200px;
  display: flex;
  flex-direction: column;
  gap: 40px;
}
.section2main .block1 {
  display: flex;
  flex-direction: column;
  gap: 34px;
}
.section2main .block1 .text1 {
  color: #838383;
  font-size: 41px;
  font-family: OutfitMedium;
}
.section2main .block1 div {
  display: flex;
  justify-content: space-between;
}
.section2main .block1 div p {
  width: 49%;
  font-size: 14px;
  color: #838383;
  font-family: OutfitRegular;
}
.section2main .block2 {
  display: flex;
  flex-direction: column;
  gap: 44px;
}
.section2main .block2 .text1 {
  color: #838383;
  font-size: 41px;
  font-family: OutfitMedium;
  text-align: center;
}
.section2main .block2 .bottom {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.section2main .block2 .bottomMain {
  width: 49%;
  display: flex;
  flex-direction: column;
  gap: 34px;
}
.section2main .block2 .bottomMain .text3 {
  color: #838383;
  font-size: 26px;
  font-family: OutfitMedium;
}
.section2main .block2 .bottomMain .texts {
  display: flex;
  flex-direction: column;
  gap: 18px;
}
.section2main .block2 .bottomMain .texts p {
  font-size: 14px;
  color: #838383;
  font-family: OutfitRegular;
}
.section2main .block2 .bottomImg {
  width: 49%;
}
.section2main .block3 {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 50px;
}
.section2main .block3 .top {
  display: flex;
  flex-direction: column;
  gap: 22px;
}
.section2main .block3 .top .text1 {
  color: #838383;
  font-size: 41px;
  font-family: OutfitMedium;
  text-align: center;
}
.section2main .block3 .top .text2 {
  font-size: 14px;
  color: #838383;
  font-family: OutfitRegular;
  text-align: center;
  width: 900px;
}
.section2main .block3 .bottom {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.section2main .block3 .bottom div {
  width: 380px;
  height: 170px;
  border: 1px solid #0098ff;
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  position: relative;
}
.section2main .block3 .bottom div img {
  position: absolute;
  right: 12px;
  top: 12px;
}
.section2main .block3 .bottom div .text1 {
  color: #838383;
  font-size: 26px;
  font-family: OutfitMedium;
}
.section2main .block3 .bottom div .text2 {
  font-size: 14px;
  color: #838383;
  font-family: OutfitRegular;
  line-height: 20px;
}/*# sourceMappingURL=about.css.map */